body {
  padding-top: 50px;
}
main {
  padding: 25px 0;
}
.trade .media-heading {
  line-height: 32px;
  .label {
    margin-top: 10px;
  }
}
.log {
  font-size: 12px;
  margin-top: 10px;
  padding-left: 20px;
}
